@import "~antd/dist/antd.css";

body {
  background-color: #2d3436;
}

.App {
  text-align: center;
  margin-top: 3.5rem;
}
button {
  margin-left: 4.5%;
  border-radius: 7%;
}
.todo-item {
  justify-content: center;
  align-items: center;
  margin-left: 26.5%;
  border-radius: 4rem;
  margin-bottom: 1rem;
  width: 50%;
}

/* FOOTER */
.social-links {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  flex-direction: row-reverse;
}

footer {
  background-color: white;
  height: 35vh;
  margin-top: 3rem;
}
li {
  list-style: none;
}
